<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Developing trust.</h1>
    <h1>Delivering <em>aha</em>.</h1>
    <img src="/AHA_horizontallogo_blue.svg" />
  </body>
</html>

<style>
  :root {
    --deep-blue: #1a3b60;
    --vibrant-green: #47a019;
    --light-tan: #d6bdbe;
    --cool-pink: #f6e2ff;
    --enzo-blue: #0b235f;
    --enzo-white: #eaded9;
  }
  html {
    font-family: "Spectral";
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: vertical;
    background-image: radial-gradient(
      circle at -100vw 80vh,
      var(--deep-blue) 50%,
      var(--light-tan) 110%
    );
    height: 100%;
  }
  h1 {
    font-weight: lighter;
    font-size: 12vh;
    line-height: 0.7;
  }
  body {
    flex: 1;
  }
  img {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
  }
</style>
